/* SkillCard.css */
.skill-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
    margin: 15px;
    transition: transform 0.3s ease;
  }
  
  .skill-card:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.5);
  }
  
  .icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
    max-width: 70%;
  }
  
  .skill-name {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  .skill-level {
    /* font-size: 1rem;
    color: #777; */
    text-transform: capitalize;
    font-size: var(--fs-xl);
    font-weight: 500;
  }

  .level-bar {
    background-color: #f3f3f3;
    border-radius: 8px;
    height: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .level-progress {
    height: 100%;
    background: linear-gradient(to right, #4caf50, #81c784);
    color: white;
    text-align: right;
    line-height: 20px;
    padding-right: 8px;
    border-radius: 8px 0 0 8px;
    font-size: 0.8rem;
  }

  /* Media */

  @media (max-width: 768px) {
    .skill-card {
      width: 90%;
      margin: 8px auto;
    }
  }
  
  @media (min-width: 769px) {
    .skill-card {
      width: 250px;
    }
  }